langchain
langchain-groq
langchain-openai
faiss-cpu
tiktoken
langchain-community
chromadb
sentence-transformers
pypdf
python-dotenv
python-docx
docx2txt
pandas
openpyxl
unstructured
msoffcrypto-tool
jq
numpy
matplotlib
langchain_huggingface
scikit-learn